{
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "globals": {
        "chrome",
        "Footprint",
        "L",
        "NO",
        "SC",
        "YES",
        "d3",
        "sc_require",
        "sc_static",
        "sc_super",
    },
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended"
}
